.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --background-color: #121212; 
  --primary-color: #BB86FC; 
  --text-color: #E0E0E0; 
  --font-family: 'Roboto', sans-serif; 
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  text-align: center;
  padding: 20px;
}

.login-container h1, .login-container h2 {
  margin: 0 0 20px 0; 
}

.login-container h1 {
  font-size: 2.5em; 
  color: #FFFFFF; 
}

.login-container h2 {
  font-size: 1.5em; 
  color: var(--text-color);
  max-width: 90%; 
}

.Login button {
  background-color: var(--primary-color);
  color: #000;
  border: none;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 20px; 
  transition: background-color 0.3s;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}

.Login button:hover {
  background-color: #9e77c9; 
}


@media (max-width: 600px) {
  .login-container h1 {
      font-size: 1.8em; 
  }

  .login-container h2 {
      font-size: 1.2em;
  }

  .Login button {
      padding: 10px 20px;
      font-size: 1em;
  }
}

@media (max-width: 600px) {
  .profile-image {
      width: 50px;
      height: 50px; 
  }

  .profile-name {
      font-size: 1.5em;
      padding-left: 10px;
  }

  .profile-fab-container {
    right: 5px;  
}
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #333;
  color: #a69de9;
}

.form-input, .custom-file-input, button {
  margin: 10px 0;
  padding: 8px 12px;
  width: 80%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

.form-input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

button, .custom-file-input {
  background-color: var(--primary-color);
  color: #000;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover, .custom-file-input:hover {
  background-color: #41364d;
  
}

.custom-file-input {
  cursor: pointer;
}

input[type="file"] {
  display: none; 
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  max-width: 90%;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%; 
}

.header-container {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}

.groups-section {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background-color: #333;
  border-radius: 8px;
  max-height: 600px;
  overflow-y: auto;
}

.groups-section h2 {
  color: #BB86FC;
  margin-left: 20px; 
}

.groups-section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.groups-section li {
  padding: 8px;
  border-bottom: 1px solid #444;
}

@media (max-width: 600px) {
  .groups-section {
    width: 90%;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .header-container {
      flex-direction: row;
      justify-content: space-between; 
  }

  .profile-image {
      width: 90px; 
      height: 90px;
  }

  .profile-name {
      font-size: 2em;
  }
}

.error {
  color: red;
  margin: 10px 0;
}

.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;   
  height: 50px;  
  text-align: center;
  line-height: 50px; 
}

.fab-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.fab-options button {
  background-color: #666;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.group-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--text-color); 
}

.group-details {
  background-color: #282c34; 
  color: var(--text-color); 
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.group-details p {
  margin: 10px 0;
  font-size: 1.2em; 
}

.copy-icon {
  width: 1.5em; 
  height: 1.5em; 
  vertical-align: middle; 
}

.group-details button {
  background-color: var(--primary-color); 
  border: none;
  color: #000;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 20px; 
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-details button:hover {
  background-color: #9e77c9; 
}

.home-button {
  background-color: var(--primary-color);
  border: none;
  color: #000;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 1em;
  font-family: var(--font-family);
  border-radius: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; 
}

.home-button:hover {
  background-color: #9e77c9;
}

.profile-image-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;  
  height: 60px;
}

.profile-image {
  width: 100%;  
  height: 100%;
  border-radius: 50%;
  object-fit: cover;  
}

.profile-name {
  font-size: 1.8em;
  color: #FFFFFF;
  text-align: left; 
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding-right: 100px;
  flex-grow: 1;
}

.profile-fab-container {
  position: fixed;
  top: 30px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  z-index: 1000;  
  overflow: visible;
}

.profile-image-button {
  z-index: 2;  
}

.profile-image-expanded {
  position: absolute;
  top: 100%;  
  width: 100px;  
  /* background: #333;  */
  /* border-radius: 5px;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.profile-image-expanded button {
  border: none;
  margin: 5px 5px;
  cursor: pointer;
  width: 100%;  
  /* position: fixed; */
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.edit-profile-image {
  width: 200px;  
  height: 200px;
  border-radius: 50%;
  object-fit: cover;  
  margin-bottom: 20px; 
}

.profile-picture-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  max-width: 360px; 
  padding: 20px;
  background: #282c34; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  margin-top: 20px; 
}

.remove-picture-button {
  position: absolute;
  top: -20px;  
  right: -10px; 
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 24px; 
  cursor: pointer;
  padding: 0; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); 
  outline: none; 
  z-index: 1; 
}

.remove-picture-button:hover {
  background-color: #ad89d4;
}

/* .file-input-label {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
} */
.file-input-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;  
  margin-bottom: 10px;
  border-radius: 5px; 
  cursor: pointer;
  width: 80%;         
  max-width: 300px;   
  font-size: 1em;    
  text-align: center; 
  transition: background-color 0.3s; 
}

.file-input-label:hover {
  background-color: #9e77c9; 
}

.edit-input, .file-input-label, .submit-profile-button {
  width: 80%;
  max-width: 300px;
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

.edit-input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

/* .submit-profile-button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  margin-top: 20px; 
  padding: 10px 15px;
  border-radius: 5px;
} */

.submit-profile-button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 315px;
  height: 38px;
  transition: background-color 0.3s; 
  font-size: 16px;
}

.submit-profile-button:hover {
  background-color: #9e77c9; 
}

.form-container input[type="text"],
.form-container input[type="groupCode"],
.form-container textarea {
  background-color: #222; 
  color: #fff; 
  border: 1px solid #555; 
  padding: 10px;
  border-radius: 4px; 
  width: 100%; 
  box-sizing: border-box; 
}