.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Define basic colors and fonts */
:root {
  --background-color: #121212; /* Dark background */
  --primary-color: #BB86FC; /* Purple accent */
  --text-color: #E0E0E0; /* Light grey for text */
  --font-family: 'Roboto', sans-serif; /* Material Design default */
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  text-align: center;
  padding: 20px;
}

.login-container h1, .login-container h2 {
  margin: 0 0 20px 0; /* Spacing between elements */
}

.login-container h1 {
  font-size: 2.5em; /* Larger text for main title */
  color: #FFFFFF; /* Brighter white for emphasis */
}

.login-container h2 {
  font-size: 1.5em; /* Smaller text for secondary title */
  color: var(--text-color);
  max-width: 90%; /* Ensures text is not too wide on larger screens */
}

.Login button {
  background-color: var(--primary-color);
  color: #000;
  border: none;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 20px; /* Rounded edges */
  transition: background-color 0.3s;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}

.Login button:hover {
  background-color: #9e77c9; /* Darker shade of the accent color */
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
  .login-container h1 {
      font-size: 1.8em; /* Slightly smaller to fit mobile screens */
  }

  .login-container h2 {
      font-size: 1.2em;
  }

  .Login button {
      padding: 10px 20px;
      font-size: 1em;
  }
}

@media (max-width: 600px) {
  .profile-image {
      width: 50px;
      height: 50px; 
  }

  .profile-name {
      font-size: 1.5em;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.form-input, .custom-file-input, button {
  margin: 10px 0;
  padding: 8px 12px;
  width: 80%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

.form-input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

button, .custom-file-input {
  background-color: var(--primary-color);
  color: #000;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover, .custom-file-input:hover {
  background-color: #9e77c9;
}

.custom-file-input {
  cursor: pointer;
}

input[type="file"] {
  display: none; /* Hide the default file input */
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  max-width: 90%;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%; /* Ensure the container takes full width */
}

.header-container {
  width: 100%; /* Full width to use the top space */
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: center;
  padding: 10px 20px; /* Padding for breathing space */
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px; /* Space between name and image */
  border: 3px solid var(--primary-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-name {
  font-size: 1.8em;
  color: #FFFFFF;
  text-align: right; /* Aligns the text to the right */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.groups-section {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background-color: #333;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
}

.groups-section h2 {
  color: #BB86FC;
  margin-left: 20px; /* Aligns 'Groups' title to the left */
}

.groups-section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.groups-section li {
  padding: 8px;
  border-bottom: 1px solid #444;
}

@media (min-width: 768px) {
  .header-container {
      flex-direction: row;
      justify-content: space-between; /* Adjusts for larger screens */
  }

  .profile-image {
      width: 90px; /* Larger for larger screens */
      height: 90px;
  }

  .profile-name {
      font-size: 2em;
  }
}

.error {
  color: red;
  margin: 10px 0;
}

.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;   
  height: 50px;  
  text-align: center;
  line-height: 50px; 
}

.fab-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.fab-options button {
  background-color: #666;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.group-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--text-color); /* Ensuring text color consistency */
}

.group-details {
  background-color: #282c34; /* Dark background similar to .App-header */
  color: var(--text-color); /* Light gray text for readability */
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically if needed */
}

.group-details p {
  margin: 10px 0;
  font-size: 1.2em; /* Slightly larger font size for better readability */
}

.copy-icon {
  width: 1.5em; /* Adjust width as needed */
  height: 1.5em; /* Adjust height as needed */
  vertical-align: middle; /* Aligns the icon better with any text or baseline */
}

.group-details button {
  background-color: var(--primary-color); /* Purple accent for the button */
  border: none;
  color: #000;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 20px; /* Rounded edges */
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-details button:hover {
  background-color: #9e77c9; /* Darker shade of the accent color */
}

.home-button {
  background-color: var(--primary-color);
  border: none;
  color: #000;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 1em;
  font-family: var(--font-family);
  border-radius: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; 
}

.home-button:hover {
  background-color: #9e77c9;
}

